.lolo{
        width: 100%;
        margin: 6px;
    

}

.hei{
    height:1280px;
}
.fontp{
    font-family: Georgia, serif; /* Establece la fuente Georgia */
    font-weight: bold; /* Aplica negrita */
    font-size: 20px; 
    color: #4e24ff;
}
