.cuaderno {
    background-color: white; /* Fondo blanco */
    background-image: 
        linear-gradient(0deg, transparent 24px, #ccc 25px),
        linear-gradient(90deg, transparent 24px, #ccc 25px);
    background-size: 25px 25px; /* Tamaño de cada celda de la cuadrícula */
    
    font-family: Georgia, serif; /* Establece la fuente Georgia */
    font-weight: bold; /* Aplica negrita */
    color: #4e24ff;
}
.il{
    background-color:#fffee2;
    font-family: Georgia, serif; /* Establece la fuente Georgia */
    color: #9bb8b0;
    border:1vh dashed;
    border-color:#9bb8b0;
    border-radius:2vh;

}
